{% extends 'radiologist_base.html' %}


{% block content %}>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 406.844px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Profile</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="https://radiology.extremelab.tech/patient">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
                    <div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Edit Profile</h3>
  </div>
  <!-- /.card-header -->
  <form method="POST" action="https://radiology.extremelab.tech/patient/profile" novalidate="novalidate">
    <input type="hidden" name="_token" value="IYmb0EwfV99sOhVvlVRfDUzB29Qy9VObF00dBOzu">    <div class="card-body">

      <div class="row">
        <div class="col-lg-4">
           <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Name" name="name" id="name" value="kumar k" required="">
            </div>
           </div>
        </div>
    
        <div class="col-lg-4">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" name="email" id="email" value="text@gmail.com" required="">
                </div>
            </div>
        </div>
    
        <div class="col-lg-4">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                        <i class="fas fa-phone-alt"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Phone" name="phone" id="phone" value="+249 907084881" required="">
                </div>
            </div>
            
        </div>
        
    </div>
    
    <div class="row">
    
        <div class="col-lg-4">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-map-marker-alt"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Address" name="address" id="address" value="Sudan" required="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-mars"></i>
                          </span>
                        </div>
                        <select class="form-control" name="gender" placeholder="Gender" id="gender" required="">
                            <option value="" disabled="" selected="">Select Gender</option>
                            <option value="male" selected="">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
           
        </div>
    
        <div class="col-lg-4">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-baby"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control datepicker hasDatepicker" placeholder="Date Of Birth" name="dob" required="" value="28-08-1995" readonly="" id="dp1675359366550">
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check"></i> Save
      </button>
    </div>
  </form>

</div>

          <input type="hidden" id="system_currency" value="USD">
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    {% endblock content %}