{% extends 'layouts/login_base.html' %}	


{% block content %}


<form method="POST" action="{% url 'account:create_account' %}" class="validate-form" id="register_form"  
                 id= "registration-form" >
                 {% csrf_token %}
                   <span class="login100-form-title p-b-20 p-t-20">
                       إنشاء حساب جديد
                   </span>

               <div class="wrap-input100 validate-input ">
                   <input class="input100" type="text" name="name" value="" required="">
                   <span class="focus-input100"></span>
                   <span class="label-input100">الاسم</span>
               </div>
           
               <div class="validate-input">
               <div class="row form-group">
                       <h5 class="col-lg-3 col-md-3 col-sm-3">
                           الدور      
           </h5>
           <div class="col-lg-9 col-md-9 col-sm-9 d-inline">
           <input type="radio" name="Role" id="Admin" value="Admin"
            required=""> <label for="Admin" class="d-inline">مدير النظام</label>
           <br>
           <input type="radio" name="Role" id="Doctor" value="Doctor" required=""> 
           <label for="Doctor" class="d-inline">طبيب<br>
           <input type="radio" name="Role" id="Receptionist" value="Receptionist" required="">
            <label for="Receptionist" class="d-inline">موظف استقبال</label><br>
           <input type="radio" name="Role" id="fTechnicians" value="Technicians" required=""> 
           <label for="Technicians" class="d-inline">فني<br>
           <input type="radio" name="Role" id="fRadiologist" value="Radiologist" required="">
            <label for="fRadiologist" class="d-inline">أخصائي الأشعة<br>
           </label>
           </div>
           </div>
               </div>
           
               <div class="wrap-input100 validate-input ">
                   <input class="input100" type="text" name="phone" value="" required="">
                   <span class="focus-input100"></span>
                   <span class="label-input100">اسم المستخدم</span>
               </div>
           
               <div class="wrap-input100 validate-input ">
                   <input class="input100" type="email" name="email" value="" required="">
                   <span class="focus-input100"></span>
                   <span class="label-input100">البريد الإلكتروني</span>
               </div>
           <div class="wrap-input100 validate-input ">
               <input class="input100" type="password" name="password" required="">
               <span class="focus-input100"></span>
               <span class="label-input100">كلمة المرور</span>
           </div>
           
           <div class="wrap-input100 validate-input ">
               <input class="input100" type="password" name="confirm_password" required="">
               <span class="focus-input100"></span>
               <span class="label-input100">تأكيد كلمة المرور</span>
           </div>
                        
                        <a href="{% url 'account:login_base' %}" class="btn btn-primary">
                          <button type="button" class="btn btn-primary">إنشاء حساب</button>
                        </a>
                  
                    </form>
{% endblock %}