
{% extends 'admin_base.html' %}


{% block content %}
  

  

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 406.844px;">
      <!-- Content Header (Page header) -->
      <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            <i class="nav-icon fas fa-th"></i>
            Dashboard
          </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
                    
<!-- Admin Reports -->
<div class="row">
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>54</h3>
          <p>Patients</p>
        </div>
        <div class="icon">
         <i class="fa fa-user"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/tests" 
        class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>151</h3>
          <p> Tests</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-injured"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/patients" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>13</h3>
          <p>Ultrasound&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-file-contract nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/contracts" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>CT&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-layer-group nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
	<div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>MRI&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-layer-group nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
	
	
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>&nbsp;X-ray</p>
        </div>
        <div class="icon">
          <i class="fas fa fa-user-md nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>Bookings</p>
        </div>
        <div class="icon">
          <i class="fas fa fa-calendar nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
<div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>CT&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-layer-group nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
<div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>198</h3>
          <p>CT</p>
        </div>
        <div class="icon">
          <i class="fas fa-layer-group nav-icon"></i>
        </div>
        <a href="https://radiology.extremelab.tech/admin/groups" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- today statistics -->
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-olive color-palette">
        <span class="info-box-icon">
          <i class="fas fa-money-bill-wave"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">Today&nbsp; appointment amount</span>
          <span class="info-box-number">0 appointment</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-olive color-palette">
        <span class="info-box-icon">
          <i class="fas fa-money-bill-wave"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">Today&nbsp; patiens&nbsp; &nbsp;amount</span>
          <span class="info-box-number">0 patients</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-olive color-palette">
        <span class="info-box-icon">
          <i class="fas fa-money-bill-wave"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">Today&nbsp; &nbsp;tests&nbsp; amount</span>
          <span class="info-box-number">0 tests</span>
        </div>
      </div>
    </div>
    <!-- /today statistics -->

    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-primary">
        <span class="info-box-icon"><i class="fa fa-list"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Tests</span>
          <span class="info-box-number">504</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-warning">
        <span class="info-box-icon"><i class="fa fa-pause-circle"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Pending Tests</span>
          <span class="info-box-number">352</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="info-box bg-success">
        <span class="info-box-icon"><i class="fa fa-check-double"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Completed Tests</span>
          <span class="info-box-number">152</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

  </div>
  <!-- /.row -->
<!-- /Admin Reports -->

<!-- Online Users -->

 
 
		  
		  
         
      
      <!-- /.content -->




    {% endblock content %}





   
    
 
